body{}

h1{ 	color:#000000;
	font-family:Trebuchet MS;
	font-size:45;}

p{	font-size:20;
	color:000000;
	font-family:Trebuchet MS;}

h2{	font-size:30;
	color:#000000;
	font-family:Trebuchet MS;}

ul{	font-family:Trebuchet MS;
	font-size:20;}

ul#x{	color:000000;
	font-family:Trebuchet MS;
	font-size:25;}