body{
     background-color:orange;
	 
    }
	 
.mid p #desc{
	 background-color:white
	 }	
p{
	 text-align:center;
	 background-color:
	 }	 	 
div#head{
	color:blue;
	background-color:black;
	padding:15px
}	 
div#mid{
	padding:40px;
	font-size:20px
}
div#slide{
	
	padding:30px;
}	
marquee{
	background-color:black;
	color:white
	
}
.slide{
	height:190px
}
h1{
	text-align:center
}