h1
{
color:white;
}

#header
{
padding:20px;	
text-align:center;
}
#above{
text-decoration:none;
}
#a:hover
{
font-size:26px;
}
form
{
float:right
}
input[type="text"]
{
border-radius:20px;
}
input[type="password"]
{
border-radius:20px;
}
input[type="submit"]
{
background-color:#d6d6c2;
border-radius:20px;
}
#sub:active
{
background-color:gray;
}

#nav
{
background-color:cyan	;
padding:10px;
border:1px;
}

#mid{
padding:0.1px;
background-color:white;
font-size:15px;
font-family:arila;
font-weight:bold;
}

.button
{
background-color:#c2c2a3;
color:#ffffff;
padding:26px;
cursor:pointer;
border:none; 
margin:6px;

}

.layout1
{
width:100px;
height:300px;
padding:100px;
background-color:gray;
float:left;
}
.layout2
{
width:433px;
height:300px;
padding:100px;
background-color:green;
float:left;
}
.layout3
{
width:200px;
height:300px;
padding:100px;
background-color:black;
float:right;
}
.footer
{
padding:10px;
border:none;
background-color:red;
}
button:hover{

transform: scale(1.5);
border-radius:50px;
opacity:1.0;
}







